@using carRentalApplication.Models
@model rentalChart

<h2>Quote</h2>

<div class="container">
    <div class="col">
        <div class="row align-items-start">
            <div class="col-md-4">
                <p>Name: @Model.FirstName @Model.LastName</p>
            </div>
            <div class="col-md-4">
                <p>Email: @Model.EmailAddress</p>
            </div>
            <div class="col-md-4">
                <p>Date of birth: @Model.DateOfBirth</p>
            </div>
        </div>
        <div class="row align-items-start">
            <div class="col-md-4">
                <p>Times driven under the influence: @Model.UnderInfluence</p>
            </div>
            <div class="col-md-4">
                <p>Number of speeding tickets: @Model.SpeedingTickets</p>
            </div>
        </div>
        <div class="row align-items-start">
            <div class="col-md-4">
                <p>Make: @Model.CarMake</p>
            </div>
            <div class="col-md-4">
                <p>Model: @Model.CarModel</p>
            </div>
            <div class="col-md-4">
                <p>Vehicle Year: @Model.CarYear</p>
            </div>
        </div>
        <div class="row align-items-start col-md-4">
            <p>Monthly Charge: $@Model.MonthlyTotal</p>
        </div>
    </div>
</div>


