@using carRentalApplication.Models
@model List<rentalChart>

<h2>GetQuote</h2>

<div class="container">
    <div class="col">
        @foreach (var getQuote in Model)
        {
            <div class="row align-items-start">
                <div class="col-md-4">
                    @getQuote.FirstName
                </div>
                <div class="col-md-4">
                    @getQuote.LastName
                </div>
                <div class="col-md-4">
                    @getQuote.EmailAddress
                </div>
            </div>
            <div class="row align-items-start">
                <div class="col-md-4">
                    @getQuote.DateOfBirth
                </div>
                <div class="col-md-4">
                    @getQuote.UnderInfluence
                </div>
                <div class="col-md-4">
                    @getQuote.SpeedingTickets
                </div>
            </div>
            <div class="row align-items-start">
                <div class="col-md-4">
                    @getQuote.CarMake
                </div>
                <div class="col-md-4">
                    @getQuote.CarModel
                </div>
                <div class="col-md-4">
                    @getQuote.CarYear
                </div>
            </div>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active">
                    <input type="radio" name="options" id="option1" autocomplete="off"> Full Coverage
                </label>
            </div>
            <div class="col">
                @getQuote.MonthlyTotal
            </div>
        }
    </div>
</div>


